<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Data" connectionString="user id=USER;password=PASSWORD;Data Source=SERVER;Database=DATABASE"/>
  </connectionStrings>
  <appSettings>
    <add key="X-Redmine-API-Key" value="xxxxx"/>
    <add key="X-Redmine-URL" value="http://redmine"/> 
  </appSettings>
</configuration>